/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__like-button — для кнопки, оборачивающей иконку
✦ card__like-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  color: var(--text_color);
  font-family: var(--main_font_family, sans-serif);
  background-color: var(--background_page);
  background-image: repeating-linear-gradient(
      90deg,
      var(--background_theames_gradient_deg),
      var(--background_theames_gradient_deg) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      var(--background_theames_gradient_deg),
      var(--background_theames_gradient_deg) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(var(--background_theames_gradient));
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font_normal);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-block-start: 101px;
  border: 2px solid var(--text_color);
  padding-block-start: var(--header_padding_block);
  padding-block-end: 20px;
  background-color: var(--background_page);
}
.box_size {
  inline-size: clamp(371px, 100%, 696px);
}

.title_header {
  font-family: inherit;
  font-weight: inherit;
  font-size: var(--header_title_size);
  font-style: inherit;
  line-height: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.title_header:focus-visible {
  outline: none;
}

.header_text {
  min-width: 210px;
  font-family: inherit;
  font-weight: inherit;
  font-size: clamp(14px, calc(0.875rem + ((1vw - 3.75px) * 0.8451)), 23px);
  font-style: inherit;
  line-height: inherit;
  text-transform: uppercase;
}

.header__theme-menu {
  padding-block-start: 2px;
}

.theme-menu__button {
  position: relative;
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: inherit;
  font-size: 14px;
  font-style: inherit;
  line-height: inherit;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-inline-start: 20px;
}

.theme-menu__button[disabled],
.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button[disabled]::before {
  content: "▶";
  position: absolute;
  left: -12px;
  top: 0;
  width: 16px;
  height: 13px;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  pointer-events: none;
  animation-duration: 0.5s;
}

@keyframes loading {
  0% {
    translate: 0px;
  }

  50% {
    translate: 4px;
  }

  100% {
    translate: 0px;
  }
}

.theme-menu__button[disabled] {
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 2px;
  opacity: 0.6;
  background-color: var(--text_color);
  transition: width 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-start: 100px;
  background-color: transparent;
}

.section {
  border: 2px solid var(--text_color);
  background-color: var(--background_page);
}

.flex_box {
  display: flex;
  flex-direction: column;
}

.title_section {
  margin: 5px 10px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  font-variation-settings: "wght" var(--font_bold);
}

.section_picture {
  position: relative;
  margin-block-end: 24px;
  border-block-start: 2px solid var(--text_color);
  border-block-end: 2px solid var(--text_color);
}

.img_section {
  object-fit: cover;
  object-position: center;
  inline-size: clamp(371px, 100%, 696px);
}

.img_grayscale {
  filter: grayscale(40%);
}

.img_invert {
  filter: invert(0.2);
}

.img_contrast {
  filter: contrast(190%);
}

.img_hue-rotate {
  filter: hue-rotate(10deg);
}

.img_sepia {
  filter: sepia(40%);
}

.img_blur {
  filter: blur(2.1);
}

.img_saturate {
  filter: saturate(0.4);
}

.img_mix_filter {
  filter: saturate(60%) hue-rotate(90deg);
}

.projection {
  position: absolute;
  top: 23px;
  right: 11px;
  opacity: 0.5;
  font-size: 14px;
  text-shadow: -1px 0 var(--background_page), 0 1px var(--background_page),
    1px 0 var(--background_page), 0 -1px var(--background_page);
  mix-blend-mode: hard-light;
  font-weight: 400;
}

@supports (
  (text-stroke: 1px var(--background_page)) or
    (-webkit-text-stroke: 1px var(--background_page))
) {
  .projection {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background_page);
    text-stroke: 1px var(--background_page);
  }
}

.text_card {
  padding: 0 25px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
  font-variation-settings: "wght" var(--font_normal);
}

.text_card:not(:last-of-type) {
  margin-bottom: 27px;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 38px;
  padding: 9px 17px;
}

.button_animation {
  overflow: hidden;
  color: var(--text_color);
  background-color: var(--background_page);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  border: 2px solid var(--text_color);
  position: relative;
}

.button_animation:hover::after {
  translate: 0%;
}

.button_animation::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--backgroub_color_button);
  transition: translate 0.5s ease-in-out;
  translate: -100%;
  mix-blend-mode: difference;
}

.button_animation:focus-visible {
  box-shadow: 2px 2px 0 var(--text_color);
  outline: none;
}

.button__text {
  position: relative;
  color: var(--text_color);
  font-family: inherit;
  font-weight: inherit;
  font-size: 14px;
  font-style: inherit;
  line-height: 90%;
}

.like-icon {
  background-color: transparent;
  :root.theme-light {
    fill: #000;
  }

  :root.theme-dark {
    fill: #00cc14;
  }
}

.flex {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  margin: 26px 25px 25px;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  color: currentColor;
  background-color: transparent;
  transition: border 0.3s ease;
  cursor: pointer;
  max-block-size: 38px;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--text_color);
  outline: none;
}

.section_footer {
  align-self: center;
}

.footer_button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 0 100px;
  padding: 15px 16px;
  inline-size: clamp(
    309px,
    calc(19.3125rem + ((1vw - 3.75px) * 2.4413)),
    335px
  );
}

.floppy {
  width: 27px;
  height: 100%;
  color: var(--text_color);
}

@media (width >= 1358px) {
  .projection {
    right: 22px;
  }

  .main {
    gap: 51px;
  }

  .section_picture {
    margin-block-end: 27px;
  }

  .footer_button {
    gap: 10px;
  }

  .floppy {
    width: 21px;
    height: 100%;
  }
}

.dialog {
  border: 2px solid var(--text_color);
  padding: 30px 25px;
  background-color: var(--background_page);
  inline-size: clamp(
    341px,
    calc(21.3125rem + ((1vw - 3.75px) * 1.5023)),
    357px
  );
}

.content_dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19px;
  margin-block-end: 30px;
  inline-size: clamp(
    257px,
    calc(16.0625rem + ((1vw - 3.75px) * 3.3803)),
    293px
  );
}

.dialog_button {
  border: 2px solid var(--text_color);
  padding-block: 9px;
  background-color: transparent;
  cursor: pointer;
  inline-size: clamp(
    257px,
    calc(16.0625rem + ((1vw - 3.75px) * 3.3803)),
    293px
  );
}

.dialog_floppy {
  inline-size: 100px;
}

.dialog_text {
  color: var(--text_color);
  font-family: "PressStart2P", sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog::backdrop {
  opacity: 0.75;
  background: var(--background_drop_dialog, #000);
  filter: none;
}

.floppy-icon {
  width: 100px;
  height: 100%;
}