/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {

  --header_padding_block: clamp(120px, 7.1479rem + 1.5023vw, 136px);
  --header_title_size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --main_font_family: "PressStart2P";
  --main_font_weight: 400;
  --sparks_color: #FF0000;
  --background_drop_dialog: #000;
}